In [13]:
import pandas as pd
import numpy as np
import mysql.connector as sql

In [3]:
df_agg_user = pd.read_csv('PhonePe/agg_user.csv')
print(df_agg_user)

                          State  Year  Quarter   Brands    Count  Percentage
0     andaman-&-nicobar-islands  2018        1   Xiaomi     1665    0.247033
1     andaman-&-nicobar-islands  2018        1  Samsung     1445    0.214392
2     andaman-&-nicobar-islands  2018        1     Vivo      982    0.145697
3     andaman-&-nicobar-islands  2018        1     Oppo      501    0.074332
4     andaman-&-nicobar-islands  2018        1  OnePlus      332    0.049258
...                         ...   ...      ...      ...      ...         ...
6727                west-bengal  2022        1   Lenovo   330017    0.015056
6728                west-bengal  2022        1  Infinix   284678    0.012987
6729                west-bengal  2022        1     Asus   280347    0.012790
6730                west-bengal  2022        1    Apple   277752    0.012671
6731                west-bengal  2022        1   Others  2196334    0.100199

[6732 rows x 6 columns]

In [5]:
df_agg_trans = pd.read_csv('PhonePe/agg_trans.csv')
print(df_agg_trans)

                          State  Year  Quarter          Transaction_type  \
0     andaman-&-nicobar-islands  2018        1  Recharge & bill payments
1     andaman-&-nicobar-islands  2018        1     Peer-to-peer payments
2     andaman-&-nicobar-islands  2018        1         Merchant payments
3     andaman-&-nicobar-islands  2018        1        Financial Services
4     andaman-&-nicobar-islands  2018        1                    Others
...                         ...   ...      ...                       ...
3589                west-bengal  2022        4     Peer-to-peer payments
3590                west-bengal  2022        4         Merchant payments
3591                west-bengal  2022        4  Recharge & bill payments
3592                west-bengal  2022        4        Financial Services
3593                west-bengal  2022        4                    Others

      Transaction_count  Transaction_amount
0                  4200        1.845307e+06
1                  1871        1.213866e+07
2                   298        4.525072e+05
3                    33        1.060142e+04
4                   256        1.846899e+05
...                 ...                 ...
3589          184380244        6.202222e+11
3590          171667404        1.408077e+11
3591           48921147        2.602663e+10
3592             268388        2.611229e+08
3593             610414        4.579379e+08

[3594 rows x 6 columns]

In [6]:
df_map_trans = pd.read_csv('PhonePe/map_trans.csv')
print(df_map_trans)

                           State  Year  Quarter  \
0      andaman-&-nicobar-islands  2018        1
1      andaman-&-nicobar-islands  2018        1
2      andaman-&-nicobar-islands  2018        1
3      andaman-&-nicobar-islands  2018        2
4      andaman-&-nicobar-islands  2018        2
...                          ...   ...      ...
14631                west-bengal  2022        4
14632                west-bengal  2022        4
14633                west-bengal  2022        4
14634                west-bengal  2022        4
14635                west-bengal  2022        4

                                District     Count        Amount
0      north and middle andaman district       442  9.316631e+05
1                 south andaman district      5688  1.256025e+07
2                      nicobars district       528  1.139849e+06
3      north and middle andaman district       825  1.317863e+06
4                 south andaman district      9395  2.394824e+07
...                                  ...       ...           ...
14631                     nadia district  12690126  2.804568e+10
14632                   birbhum district   7617444  1.614650e+10
14633           purba medinipur district  14484229  3.309949e+10
14634                    maldah district  12492746  2.721861e+10
14635                 darjiling district   8827502  1.801650e+10

[14636 rows x 6 columns]

In [7]:
df_map_user =pd.read_csv('PhonePe/map_user.csv')
print(df_map_user)

                           State  Year  Quarter  \
0      andaman-&-nicobar-islands  2018        1
1      andaman-&-nicobar-islands  2018        1
2      andaman-&-nicobar-islands  2018        1
3      andaman-&-nicobar-islands  2018        2
4      andaman-&-nicobar-islands  2018        2
...                          ...   ...      ...
14635                west-bengal  2022        4
14636                west-bengal  2022        4
14637                west-bengal  2022        4
14638                west-bengal  2022        4
14639                west-bengal  2022        4

                                District  RegisteredUser  AppOpens
0      north and middle andaman district             632         0
1                 south andaman district            5846         0
2                      nicobars district             262         0
3      north and middle andaman district             911         0
4                 south andaman district            8143         0
...                                  ...             ...       ...
14635                     nadia district         1359420  33853990
14636                   birbhum district          855236  20950662
14637           purba medinipur district         1346908  38278506
14638                    maldah district          954892  29023743
14639                 darjiling district          564562  15982631

[14640 rows x 6 columns]

In [8]:
df_top_trans = pd.read_csv('PhonePe/top_trans.csv')
print(df_top_trans)

                          State  Year  Quarter   Pincode  Transaction_count  \
0     andaman-&-nicobar-islands  2018        1  744101.0               1622
1     andaman-&-nicobar-islands  2018        1  744103.0               1223
2     andaman-&-nicobar-islands  2018        1  744102.0                969
3     andaman-&-nicobar-islands  2018        1  744105.0                685
4     andaman-&-nicobar-islands  2018        1  744104.0                340
...                         ...   ...      ...       ...                ...
7134                west-bengal  2022        4  722101.0            2900058
7135                west-bengal  2022        4  700135.0            2471048
7136                west-bengal  2022        4  732101.0            2407008
7137                west-bengal  2022        4  700091.0            2348447
7138                west-bengal  2022        4  711101.0            1765314

      Transaction_amount
0           2.769298e+06
1           2.238042e+06
2           3.519060e+06
3           1.298561e+06
4           1.039715e+06
...                  ...
7134        5.748321e+09
7135        3.527457e+09
7136        5.052109e+09
7137        2.176640e+09
7138        4.048329e+09

[7139 rows x 6 columns]

In [9]:
df_top_user =pd.read_csv('PhonePe/top_user.csv')
print(df_top_user)

                          State  Year  Quarter  Pincode  RegisteredUsers
0     andaman-&-nicobar-islands  2018        1   744103             1608
1     andaman-&-nicobar-islands  2018        1   744101             1108
2     andaman-&-nicobar-islands  2018        1   744105             1075
3     andaman-&-nicobar-islands  2018        1   744102             1006
4     andaman-&-nicobar-islands  2018        1   744104              272
...                         ...   ...      ...      ...              ...
7135                west-bengal  2022        4   700015           108457
7136                west-bengal  2022        4   742304           105471
7137                west-bengal  2022        4   721101           105279
7138                west-bengal  2022        4   700091           102363
7139                west-bengal  2022        4   700150           101966

[7140 rows x 5 columns]

In [14]:
mydb = sql.connect(host="localhost",
                   user="root",
                   password="Jones@1234",
                   database= "phonepe"
                  )
mycursor = mydb.cursor(buffered=True)

In [25]:
#creating table for agg_transaction

In [16]:
mycursor.execute("create table agg_transaction (State varchar(100), Year int, Quarter int, Transaction_type varchar(100), Transaction_count int, Transaction_amount double)")

for i,row in df_agg_trans.iterrows():
    #here %S means string values 
    sql = "INSERT INTO agg_transaction VALUES (%s,%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    # the connection is not auto committed by default, so we must commit to save our changes
    mydb.commit()

In [24]:
#creating table for agg_users

In [17]:
mycursor.execute("create table agg_users (State varchar(100), Year int, Quarter int, Brands varchar(100), Count int, Percentage double)")

for i,row in df_agg_user.iterrows():
    sql = "INSERT INTO agg_users VALUES (%s,%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    mydb.commit()

In [23]:
#creating table for map_trans

In [18]:
mycursor.execute("create table map_trans (State varchar(100), Year int, Quarter int, District varchar(100), Count int, Amount double)")

for i,row in df_map_trans.iterrows():
    sql = "INSERT INTO map_trans VALUES (%s,%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    mydb.commit()

In [ ]:
#creating table for top_trans

In [19]:
mycursor.execute("create table top_trans (State varchar(100), Year int, Quarter int, Pincode int, Transaction_count int, Transaction_amount double)")

for i,row in df_top_trans.iterrows():
    sql = "INSERT INTO top_trans VALUES (%s,%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    mydb.commit()

In [22]:
#Creating table for top_user

In [21]:
mycursor.execute("create table top_user (State varchar(100), Year int, Quarter int, Pincode int, Registered_users int)")

for i,row in df_top_user.iterrows():
    sql = "INSERT INTO top_user VALUES (%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    mydb.commit()

ProgrammingError: 1050 (42S01): Table 'top_user' already exists